<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SWEA weaeinkauf</title>
  {% load static %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="{% static 'weaeinkauf/style.css' %}">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar bg-primary navbar-expand-lg custom-navbar">
    <a class="ms-2" href="{% url 'go_to_homepage' %}">
      <span class="material-symbols-outlined text-white">
        home
      </span>
    </a>
    <div class="container-fluid justify-content-center">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Quellen
              </button>
              <ul class="dropdown-menu py-0 bg-secondary border-0">
                <li><a class="dropdown-item text-white custom-hover" href="{% url 'quellenAnzeigen' %}">Quellen anzeigen</a>
                </li>
                <li><a class="dropdown-item text-white custom-hover" href="{% url 'quellenEintragen' %}">Quellen eintragen</a>
                </li>
              </ul>
            </div>

          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'weapreiseAnzeigen' %}">WEA Preise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'servicepreiseAnzeigen' %}">Servicepreise</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-white" href="#">Hersteller</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">WEA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Projekte</a>
          </li> -->
        </ul>
      </div>
    </div>
    <div class="dropdown me-2 position-absolute" style="right: 0;">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Willkommen {{ user.username }}
      </button>
      <ul class="dropdown-menu py-0 bg-secondary border-0">
        <li><a class="dropdown-item text-white custom-hover" href="" id="logout">Ausloggen</a></li>
      </ul>
    </div>
    </div>
  </nav>

  <!-- card -->

  <div class="card w-75 m-auto mt-5 text-center">
    <div class="card-header bg-primary text-white">
      <h4> Quellentyp auswählen </h4>
      <div class="d-flex justify-content-center align-items-center mt-2">

        <h6 class="card-title mb-0">Erstellen einer neuen Quelle</h6>
        <span class="material-symbols-outlined ms-1">
          help
        </span>
      </div>
    </div>
    <div class="card-body d-flex justify-content-center my-3">
      <!-- {% csrf_token %} -->
      <a class="ms-2" href="{% url 'schaetzungEintragen' %}">
        <button class="btn btn-secondary mx-2">Schätzung</button>
      </a>
      <a class="ms-2" href="{% url 'indikationEintragen' %}">
        <button class="btn btn-secondary mx-2">Indikation</button>
      </a>
      <a class="ms-2" href="{% url 'angebotEintragen' %}">
        <button class="btn btn-secondary mx-2">Angebot</button>
      </a>
      <a class="ms-2" href="{% url 'vertragEintragen' %}">
        <button class="btn btn-secondary mx-2">Vertrag</button>
      </a>
      <!-- <button type="button" class="btn btn-secondary mx-2">Schätzung</button>
      <button type="button" class="btn btn-secondary mx-2">Indikation</button>
      <button type="button" class="btn btn-secondary mx-2">Angebot</button>
      <button type="button" class="btn btn-secondary mx-2">Vertrag</button> -->
    </div>
  </div>





  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script>
    $("#logout").click(function(){
      var url = new URL(window.location.href); // mevcut url bilgisini al
        $.ajax({
          url: "{% url 'logout' %}",
          method: "POST",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
        }).done(function(response) {
          window.location = '/';
        }).fail(function (error) {
          console.log(error);
        });
      });
  </script>
</body>

</html>