<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SWEA weaeinkauf</title>
  {% load static %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load custom_filters %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="{% static 'weaeinkauf/style.css' %}">
</head>

<body>
  <!-- Navbar -->
    <nav class="navbar bg-primary navbar-expand-lg custom-navbar">
        <a class="ms-2" href="{% url 'go_to_homepage' %}">
        <span class="material-symbols-outlined text-white">
            home
        </span>
        </a>
        <div class="container-fluid justify-content-center">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Quellen
                    </button>
                    <ul class="dropdown-menu py-0 bg-secondary border-0">
                        <li><a class="dropdown-item text-white custom-hover" href="{% url 'quellenAnzeigen' %}">Quellen anzeigen</a>
                        </li>
                        <li><a class="dropdown-item text-white custom-hover" href="{% url 'quellenEintragen' %}">Quellen eintragen</a>
                        </li>
                    </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'weapreiseAnzeigen' %}">WEA Preise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'servicepreiseAnzeigen' %}">Servicepreise</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link text-white" href="#">Hersteller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">WEA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Projekte</a>
                </li> -->
                </ul>
            </div>
        </div>
        <div class="dropdown me-2 position-absolute" style="right: 0;">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Willkommen {{ user.username }}
            </button>
            <ul class="dropdown-menu py-0 bg-secondary border-0">
                <li><a class="dropdown-item text-white custom-hover" href="" id="logout">Ausloggen</a></li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="row p-4">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mt-2"> Preis anzeigen </h4>
                    <p class="mb-0">Wea Preis ID : {{weaPreisDetail.id}}</p>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-12 col-sm-6 col-lg-4 p-2">
                            <label for="quelleId" class="form-label mb-0" style="font-weight: 500;">WEA Typ: </label>
                            <p>{{weaPreisDetail.weaTyp_id}}</p>
                        </div>
                        {% for detail in weaDetail %}
                        <div class="col-12 col-sm-6 col-lg-4 p-2">
                            <label for="quelleId" class="form-label mb-0" style="font-weight: 500;">Nabenhöhe in m :</label>
                            {% if detail.nabenhoehe %}
                            <p>{{detail.nabenhoehe|format_length}}</p>
                            {% else %}
                            <p>--</p>
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% for detail in weaDetail %}
                        <div class="col-12 col-sm-6 col-lg-4 p-2">
                            <label for="quelleId" class="form-label mb-0" style="font-weight: 500;">Turmtyp: </label>
                            {% if detail.turmtyp %}
                            <p>{{detail.turmtyp}}</p>
                            {% else %}
                            <p>--</p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row mb-4">
                        <div class="col-12 col-sm-6 col-lg-4 p-2">
                            <label for="quelleId" class="form-label mb-0" style="font-weight: 500;">Preis WEA:</label>
                            <p>{{weaPreisDetail.preis|format_currency}}</p>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 p-2">
                            <label for="quelleId" class="form-label mb-0" style="font-weight: 500;">Preis Transport:</label>
                            {% if weaPreisDetail.transportkosten %}
                            <p>{{weaPreisDetail.transportkosten|format_currency}}</p>
                            {% else %}
                            <p>--</p>
                            {% endif %}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 p-2">
                            <label for="quelleId" class="form-label mb-0" style="font-weight: 500;">Preis Fundament:</label>
                            {% if weaPreisDetail.preis_w_fundament %}
                            <p>{{weaPreisDetail.preis_w_fundament|format_currency}}</p>
                            {% else %}
                            <p>--</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12 col-sm-6 col-lg-4 p-2">
                            <label for="quelleId" class="form-label mb-0" style="font-weight: 500;">Währung:</label>
                            {% if weaPreisDetail.waehrung %}
                            <p>{{weaPreisDetail.waehrung}}</p>
                            {% else %}
                            <p>--</p>
                            {% endif %}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 p-2">
                            <label for="quelleId" class="form-label mb-0" style="font-weight: 500;">Preisgültigkeit:</label>
                            {% if weaPreisDetail.gueltigkeit %}
                            <p>{{weaPreisDetail.gueltigkeit}}</p>
                            {% else %}
                            <p>unbekannt</p>
                            {% endif %}
                        </div>
                        {% for kondi in kondition %}
                        <div class="col-12 col-sm-6 col-lg-4 p-2">
                            <label for="quelleId" class="form-label mb-0" style="font-weight: 500;">Land: <span
                                    class="fw-lighter">Länderkürzel</span></label>
                            {% if kondi.land %}
                            <p>{{kondi.land}}</p>
                            {% else %}
                            <P>unbekannt</P>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% for detail in weaDetail %}
                    <div class="row mb-4">
                        <div class="col-12 col-sm-6 col-lg-4 p-2">
                            <label for="quelleId" class="form-label mb-0" style="font-weight: 500;">Auslaufdatum</label>
                            {% if detail.auslaufdatum %}
                            <p>{{detail.auslaufdatum}}</p>
                            {% else %}
                            <p>--</p>
                            {% endif %}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 p-2">
                            <label for="quelleId" class="form-label mb-0" style="font-weight: 500;">Genehmigungsunterlagen</label>
                            {% if detail.genehmigungsunterlagen %}
                            <p>{{detail.genehmigungsunterlagen}}</p>
                            {% else %}
                            <p>--</p>
                            {% endif %}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 p-2">
                            <label for="quelleId" class="form-label mb-0" style="font-weight: 500;">Windklasse</label>
                            {% if detail.windklasse %}
                            <p>{{detail.windklasse}}</p>
                            {% else %}
                            <p>--</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row mb-4">
                        {% for kondi in kondition %}
                        <div class="col-12 col-sm-6 col-lg-4 p-2">
                            <label for="quelleId" class="form-label mb-0" style="font-weight: 500;">Kondition WEA Anzahl</label>
                            {% if kondi.wea_anzahl %}
                            <p>{{kondi.wea_anzahl}}</p>
                            {% else %}
                            <P>--</P>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="col-12 col-sm-6 col-lg-4 p-2">
                            <label for="quelleId" class="form-label mb-0" style="font-weight: 500;">Garantierte Verfügbarkeit</label>
                            {% if weaPreisDetail.garantie_verfuegbarkeit %}
                            <p>{{weaPreisDetail.garantie_verfuegbarkeit}}</p>
                            {% else %}
                            <p>--</p>
                            {% endif %}
                        </div>
                    </div>
                    <button class="btn btn-primary">Preis eintragen</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Quelle: {{ quelle.quellenart }}</h4>
                    <div class="d-flex align-items-center">
                        Quelle ID: {{ quelle.id }}
                        <span class="material-symbols-outlined text-white ms-2">
                            zoom_in
                        </span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="mb-0 fw-bold">Quellendatum</h6>
                            <p>{{ quelle.quellendatum }}</p>
                        </div>
                        <div class="col-6">
                            <h6 class="mb-0 fw-bold">Bemerkung</h6>
                            {% if quelle.bemerkung %}
                            <p>{{ quelle.bemerkung }}</p>
                            {% else %}
                            <p>---</p>
                            {% endif %}
                        </div>
                    </div>
                    {% if quelle.quellenart == "Angebot" %}
                    <div class="row">
                        {% for angebot in angebote %}
                        <div class="col-6">
                            <h6 class="mb-0 fw-bold">Angebotskennung</h6>
                            {% if angebot.angebotskennung %}
                            <p>{{ angebot.angebotskennung }}</p>
                            {% else %}
                            <p>---</p>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <h6 class="mb-0 fw-bold">Wetterrisiko</h6>
                            {% if angebot.wetterrisiko %}
                            <p>{{ angebot.wetterrisiko }}</p>
                            {% else %}
                            <p>---</p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% elif quelle.quellenart == "Vertrag" %}
                    <div class="row">
                        {% for vertrag in vertraege %}
                        <div class="col-6">
                            <h6 class="mb-0 fw-bold">Vertragskennung</h6>
                            {% if vertrag.vertragskennung %}
                            <p>{{ vertrag.vertragskennung }}</p>
                            {% else %}
                            <p>---</p>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <h6 class="mb-0 fw-bold">Wetterrisiko</h6>
                            {% if vertrag.wetterrisiko %}
                            <p>{{ vertrag.wetterrisiko }}</p>
                            {% else %}
                            <p>---</p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% elif quelle.quellenart == "Schätzung" %}
                    <div class="row">
                        {% for schaetzung in schaetzungen %}
                        <div class="col-6">
                            <h6 class="mb-0 fw-bold">Schätzer</h6>
                            {% if schaetzung.schaetzer %}
                            <p>{{ schaetzung.schaetzer }}</p>
                            {% else %}
                            <p>---</p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-6">
                            <h6 class="mb-0 fw-bold">Projekt</h6>
                            <p>W1 Werneuchen I</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="mb-0 fw-bold">Erstellt von</h6>
                            <p> {{quelle.created_by}} </p>
                        </div>
                    </div>
                    {% for doc in quelleDocs %}
                    {% if doc.filename %}
                    <div class="row">
                        <div class="col-12">
                            <h6 class="mb-2 fw-bold">Datei zur Quelle</h6>
                            <a class="text-primary" href="#">{{ doc.filename }}</a>
                            <!-- <a href="#">{{ doc.filename }}</a> -->
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <!-- <span class="material-symbols-outlined btn bg-primary p-2 mt-2 text-white">
                        edit
                    </span> -->
                    <a class="ms-2" href="{% url 'quellenDetailsBearbeiten' quelle.id %}">
                        <button class="material-symbols-outlined btn bg-primary p-2 mt-2 text-white">
                            edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        $("#logout").click(function(){
            var url = new URL(window.location.href); // mevcut url bilgisini al
                $.ajax({
                    url: "{% url 'logout' %}",
                    method: "POST",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                }).done(function(response) {
                    window.location = '/';
                }).fail(function (error) {
                    console.log(error);
                });
            });
    </script>
</body>

</html>